.textoFormularios{
    @include fonts (400, small);
    padding: 5px;
}

#tituloContacto{
    grid-area: tituloContacto;
    display: flex;
    justify-content: center;
}

#instagram{
    grid-area: instagram;
    display: flex;
    justify-content: center;
}

.consultas{
    grid-area: consultas;
    display: flex;
    padding: 15px;
}

.pedido{
    grid-area: pedido;
    display: flex;
    padding: 15px;
}

.mainContacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "tituloContacto"
    "instagram"
    "consultas"
    "pedido";
}