@media (min-width: 1024px){


    .linksP{
        font-size: larger;
    }

    .tituloSeccion{
        font-size: x-large;
    }

    .subtituloSeccion{
        font-size: larger;
    }

    .conoceMas{
        font-size: larger;
    }


    .imagenesProductos{
        transition: all 2s;
        &:hover{
            transform: scale(2);
        }
    }

}