.mainNosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoConDescripcion{
    display: flex;
    flex-wrap: wrap;
}

.fotoConDescripcionA{
    @extend.fotoConDescripcion;
    flex-direction: row;
}

.fotoConDescripcionB{
    @extend.fotoConDescripcion;
    flex-direction: row-reverse;
}