.indexProductos{
    display: flex;
    flex-direction: column;
}

#listaP{
    display: flex;
    justify-content: center;
}


.tituloGaleriaP{
    @extend.tituloSeccion;
    grid-area: tituloGaleriaP;
    display: flex;
    justify-content: center;
}

.conoceProductos{
    @extend.conoceMas;
    grid-area: conoceProductos;
    display: flex;
    justify-content: center;
}

.galeriaImgProductos{
    grid-area: galeriaImgProductos;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeriaProductos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "tituloGaleriaP"
    "galeriaImgProductos"
    "conoceProductos";
}

.imagenesProductos{
    display: flex;
    flex-direction: column;
    flex-wrap: center;
    padding: 15px;
}

.imagenesProductos img{
    border: 2.5px solid black;
    border-radius: 4%
}

.imagenesProductos figcaption{
    @include fonts (700, small);
    display: flex;
    justify-content: center;
    padding: 2.5px;
    font-style: italic;
}

.botones-productos{
    display: flex;    
    justify-content: space-evenly;
}

$productos:(
    tradicional: $color3,
    personalizado: $color2,
    hotTrending: $color1,
);

@each $producto, $color in $productos {
    .btn--#{$producto}{
        background-color: $color;
        border: none;
        color: white;
        padding: 5px 5px 5px 5px;
        border-radius: 3px;
    }
}

