.mainProceso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textos{
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-template-areas: 
    ". textosLargos .";
}

.textosLargos{
    grid-area: textosLargos;
    display: flex;
    flex-wrap: wrap;
}
