@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

.ajusteMedia {
  max-width: 100%;
  max-height: 100%;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 55px;
}

.h1 {
  font-weight: 700;
  font-size: larger;
  grid-area: navh1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #813b81;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  background-color: #d8d8d8;
}

.linksP {
  font-weight: 500;
  font-size: large;
  padding-left: 5px;
  text-decoration: none;
  color: #9c589c;
}

.tituloSeccion, .tituloGaleriaP {
  font-weight: 800;
  font-size: large;
  padding: 10px;
}

.subtituloSeccion {
  font-weight: 600;
  font-size: medium;
  padding: 10px;
}

.conoceMas, .conoceProductos {
  font-weight: 500;
  font-size: medium;
  padding: 5px;
  font-style: italic;
}

.textoPrincipal {
  font-weight: 400;
  font-size: small;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
      grid-template-areas: " . videoP . ";
  padding: 5px;
}

.videoP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: videoP;
}

.imagenesAvatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  max-height: 200px;
  max-width: 200px;
  justify-self: center;
}

.imagenesAvatar figcaption {
  font-weight: 300;
  font-size: smaller;
  padding: 2.5px;
  font-style: italic;
}

.logosRedes {
  height: 30x;
  width: 30px;
  margin-right: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 5px;
  -webkit-margin-after: 0%;
          margin-block-end: 0%;
  background-color: #813b81;
}

.grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "main" "footer";
}

.indexProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#listaP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tituloGaleriaP {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tituloGaleriaP;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conoceProductos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: conoceProductos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeriaImgProductos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: galeriaImgProductos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeriaProductos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "tituloGaleriaP" "galeriaImgProductos" "conoceProductos";
}

.imagenesProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: center;
      flex-wrap: center;
  padding: 15px;
}

.imagenesProductos img {
  border: 2.5px solid black;
  border-radius: 4%;
}

.imagenesProductos figcaption {
  font-weight: 700;
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5px;
  font-style: italic;
}

.botones-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn--tradicional {
  background-color: #b17fb1;
  border: none;
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
}

.btn--personalizado {
  background-color: #9c589c;
  border: none;
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
}

.btn--hotTrending {
  background-color: #813b81;
  border: none;
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
}

.proceso {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: proceso;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nosotros;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hotTrending {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hotTrending;
}

.mainIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "hotTrending" "nosotros" "proceso";
}

#textoPresentacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textoPresentacion;
}

#avatarPeje {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: avatarPeje;
}

#avatarPablo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: avatarPablo;
}

.resumenIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "avatarPeje avatarPablo" "textoPresentacion textoPresentacion";
}

.textoFormularios {
  font-weight: 400;
  font-size: small;
  padding: 5px;
}

#tituloContacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tituloContacto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consultas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: consultas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.pedido {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pedido;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.mainContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "tituloContacto" "consultas" "pedido";
}

.mainNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fotoConDescripcionA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fotoConDescripcionB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainProceso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3% 94% 3%;
      grid-template-columns: 3% 94% 3%;
      grid-template-areas: ". textosLargos .";
}

.textosLargos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: textosLargos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 600px) {
  .mainIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "hotTrending hotTrending" "nosotros nosotros" "proceso proceso";
  }
  .imagenesProductos {
    height: 400px;
  }
  .h1 {
    font-size: x-large;
  }
  .mainContacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "tituloContacto tituloContacto" "consultas pedido";
  }
  .fotoConDescripcionA {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .fotoConDescripcionB {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .imagenesAvatar {
    height: 600px;
    width: 600px;
  }
}

@media (min-width: 780px) {
  .mainIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "proceso proceso proceso" "nosotros nosotros nosotros" "hotTrending hotTrending hotTrending";
  }
  .resumenIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "avatarPeje textoPresentacion avatarPablo";
  }
  .imagenesProductos {
    height: 360px;
  }
  .h1 {
    font-size: xx-large;
  }
  .tituloSeccion, .tituloGaleriaP {
    font-size: larger;
  }
  .subtituloSeccion {
    font-size: large;
  }
  .conoceMas, .conoceProductos {
    font-size: large;
  }
  .textoPrincipal {
    font-size: medium;
  }
  .textoFormularios {
    font-size: medium;
  }
}

@media (min-width: 1024px) {
  .linksP {
    font-size: larger;
  }
  .tituloSeccion, .tituloGaleriaP {
    font-size: x-large;
  }
  .subtituloSeccion {
    font-size: larger;
  }
  .conoceMas, .conoceProductos {
    font-size: larger;
  }
  .imagenesProductos {
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .imagenesProductos:hover {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
/*# sourceMappingURL=style.css.map */